src/blueprints/manufacturing/andon-task/flow.json
[
    {
        "id": "4905164f6a425bac",
        "type": "tab",
        "label": "User Interface",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3af105aa906e737",
        "type": "tab",
        "label": "Configuration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cba7b55203e6a12",
        "type": "tab",
        "label": "SQL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78bbed87dae57137",
        "type": "tab",
        "label": "APIs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "534b53b1f7cf7463",
        "type": "tab",
        "label": "CSS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5dd9bfc599374d4",
        "type": "tab",
        "label": "Populate with demo support areas and lines",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8d71e67854502916",
        "type": "group",
        "z": "4905164f6a425bac",
        "name": "Support Request Page View (Admin users can access it from the admin panel buttons, while non-admin users can access it via URL)",
        "style": {
            "label": true
        },
        "nodes": [
            "02417f3036b14c52",
            "6af400ee2fa53066",
            "08b1402a264e4587",
            "eca4797e2a60d7b0",
            "aa05232f163a9a99",
            "50838593e751005e",
            "23f98fde5be1a446",
            "867e96d227fa62a8",
            "bc211196337349c5",
            "9234594ea6342f5e",
            "02acdc0de78af5bc"
        ],
        "x": 68,
        "y": 313,
        "w": 1744,
        "h": 1794
    },
    {
        "id": "71f819b4bd1ad099",
        "type": "group",
        "z": "4905164f6a425bac",
        "name": " Admin page view (Only admin users can access and interact with it)",
        "style": {
            "label": true
        },
        "nodes": [
            "f6a8f30146a99a20",
            "9fa130396aaf0d6d",
            "9ffad85c724392ec",
            "dd2b5ae1fa2b599f",
            "3b77ef92cb332f1c",
            "300d5ac0c043d4bb",
            "c52fb6a01d9ae843",
            "4d4d0643380b1f7f",
            "f560d89917a0971d",
            "efc5cd87ab60631c",
            "f75ad477d2b26604"
        ],
        "x": 68,
        "y": 2153,
        "w": 1424,
        "h": 1774
    },
    {
        "id": "a678e038ce8b3438",
        "type": "group",
        "z": "c3af105aa906e737",
        "name": "Configurations ",
        "style": {
            "label": true
        },
        "nodes": [
            "fd5f315f792d3cf7",
            "4e9278bef01b88b2",
            "4d83fc206bc232e2"
        ],
        "x": 28,
        "y": 33,
        "w": 664,
        "h": 434
    },
    {
        "id": "8ec0eba66b662003",
        "type": "group",
        "z": "8cba7b55203e6a12",
        "name": "SQL",
        "style": {
            "label": true
        },
        "nodes": [
            "1102ce4f58a12d64",
            "df60d434a52bd6a2"
        ],
        "x": 48,
        "y": 33,
        "w": 824,
        "h": 274
    },
    {
        "id": "9d9e16af1ba77ad4",
        "type": "group",
        "z": "78bbed87dae57137",
        "name": "Import historical data from the API",
        "style": {
            "label": true
        },
        "nodes": [
            "2b077ccbdc938107",
            "e1563f0e4d9b958e",
            "5284517bdac2815b",
            "39ae15e14a4f9262"
        ],
        "x": 34,
        "y": 79,
        "w": 852,
        "h": 82
    },
    {
        "id": "6c56d46f69e36edf",
        "type": "group",
        "z": "4905164f6a425bac",
        "name": "Show who is logged in",
        "style": {
            "label": true
        },
        "nodes": [
            "81d751a698d397b4"
        ],
        "x": 74,
        "y": 179,
        "w": 452,
        "h": 82
    },
    {
        "id": "08f3a2e4591326eb",
        "type": "group",
        "z": "534b53b1f7cf7463",
        "name": "Styling of the dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "1a78c20dc03bfe38"
        ],
        "x": 34,
        "y": 19,
        "w": 161,
        "h": 82
    },
    {
        "id": "6471824e24f18939",
        "type": "group",
        "z": "d5dd9bfc599374d4",
        "name": "Add demo production line and department",
        "style": {
            "label": true
        },
        "nodes": [
            "34c733b480e41a13",
            "4e46ae25d198fd1b",
            "882e29d2dcc9326c",
            "399bd159f46c7427",
            "5001c1cdf6661f88"
        ],
        "x": 34,
        "y": 39,
        "w": 1052,
        "h": 122
    },
    {
        "id": "541dd3a074de735c",
        "type": "group",
        "z": "4905164f6a425bac",
        "name": "Documentation",
        "style": {
            "label": true
        },
        "nodes": [
            "53716ffe8c008a9a",
            "7c5e59811d8c51f8"
        ],
        "x": 74,
        "y": 39,
        "w": 292,
        "h": 82
    },
    {
        "id": "f6a8f30146a99a20",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "Control Admin Access",
        "style": {
            "label": true
        },
        "nodes": [
            "851be5844570bb3f",
            "4415ed2e92b78e33",
            "6e9e1f9c2e4c69f1",
            "faf6959a52ca7ee4",
            "7bbf9d08c4f739ac",
            "cd07d94e95e563c5",
            "960fe70d0a3e609e",
            "eac865417ca6742b",
            "0384c28bcc16c822",
            "593b05b11080f543",
            "39494284fe0033a1"
        ],
        "x": 94,
        "y": 3659,
        "w": 892,
        "h": 242
    },
    {
        "id": "02417f3036b14c52",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "Access Dashboard via URL (Department and Production Line Wise)",
        "style": {
            "label": true
        },
        "nodes": [
            "c6dd2dcc537de80c",
            "7dd62e6a647c1596",
            "a8da0c434007e8a5",
            "1f9fddda50deb4bc",
            "9a114eef8e992d4d",
            "1c66bc7fd01e098d",
            "f0eeb308bdd5ee14",
            "8f8725dc247c2239",
            "b17888bf6561e112",
            "b59bd170d128cec5",
            "9575766c57a0c6bb",
            "fd4b368876c52e6f"
        ],
        "x": 94,
        "y": 1879,
        "w": 1542,
        "h": 202
    },
    {
        "id": "9fa130396aaf0d6d",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "Form to add new lines and departments",
        "style": {
            "label": true
        },
        "nodes": [
            "164c96c714465739",
            "1d4c8ea12fe2bd84",
            "1ebd65f9760d07de"
        ],
        "x": 104,
        "y": 2399,
        "w": 502,
        "h": 82
    },
    {
        "id": "9ffad85c724392ec",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "Menu",
        "style": {
            "label": true
        },
        "nodes": [
            "79c1695006354fa9",
            "870ab5e758bb7e29",
            "bc688ab799f52184",
            "92a5d186ece95d63",
            "72aeb61fdcce3869",
            "7643b5fd02a5187f",
            "d845f4ace1264854",
            "f655b9fae60a84ac",
            "f07358df462f5da0",
            "6e81d00a13a15409",
            "95be88fc3f99deab",
            "3c8c66cc0a5674ac",
            "12b96129b06e062c",
            "be70496b77246a70"
        ],
        "x": 94,
        "y": 2179,
        "w": 1112,
        "h": 182
    },
    {
        "id": "6af400ee2fa53066",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "update request status and then update ui",
        "style": {
            "label": true
        },
        "nodes": [
            "e6f81ba86ec37391",
            "0cb80de80bc87a4e",
            "663625b4f78d1e07",
            "49bfb0ce338ed731",
            "6ba3de806b6862fb",
            "c287cb7b0a4edaf8",
            "e0ee3dee811104ae",
            "626ab35c897c3795",
            "96253a27b8c20592"
        ],
        "x": 104,
        "y": 1739,
        "w": 1322,
        "h": 122
    },
    {
        "id": "08b1402a264e4587",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "Create a new support request",
        "style": {
            "label": true
        },
        "nodes": [
            "c4ee5a28c33fb826",
            "e7b614800ccc9e7c",
            "c72f85794babeed7",
            "1e5cdfe8859428fb",
            "ff7e45f9f58e41ae",
            "d4f7a69e90172c7d",
            "56d7bbef8267a019",
            "a1d7ee1b8fcea94d",
            "2f6487260b827a23",
            "0da9e11834187f55",
            "690bddfb420cba47",
            "70e24e92063897f6",
            "374f377806c7cc60",
            "090bf0423da58233",
            "b8e5f9689a71c512"
        ],
        "x": 104,
        "y": 1479,
        "w": 1682,
        "h": 202
    },
    {
        "id": "dd2b5ae1fa2b599f",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "update request status and then update ui",
        "style": {
            "label": true
        },
        "nodes": [
            "86e1dbaa67af7487",
            "6da47561bb50c92c",
            "71a3646c1944cd0e",
            "f3d7d7369a290e4c",
            "9825ec7b0481e69e",
            "bcf144f2a04696d4",
            "0ff349c57d8cae00",
            "dacd23661a425c3b",
            "7b8d9f36b2b31bc2"
        ],
        "x": 94,
        "y": 3519,
        "w": 1302,
        "h": 122
    },
    {
        "id": "3b77ef92cb332f1c",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "If no rows were returned clear the table and show a message",
        "style": {
            "label": true
        },
        "nodes": [
            "3fe1a79e7dbc36b1",
            "d4d759e2952bc006",
            "c192a5dcb06e8aea",
            "a2153611282480a4",
            "c6a7b9c74fc91edf",
            "432570d5412cc5ce",
            "35ef2993e39644f6",
            "e70b196b0dae468f"
        ],
        "x": 104,
        "y": 2679,
        "w": 682,
        "h": 162
    },
    {
        "id": "300d5ac0c043d4bb",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "Group all rows back into a single array of objects",
        "style": {
            "label": true
        },
        "nodes": [
            "48c79ea0b20a2e1e",
            "9f039ccfaceba6f9",
            "0a52d10871851d65"
        ],
        "x": 104,
        "y": 3279,
        "w": 313,
        "h": 82
    },
    {
        "id": "c52fb6a01d9ae843",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "Populate the table",
        "style": {
            "label": true
        },
        "nodes": [
            "4bcd04b2b89da547",
            "230b01e63c940cc7"
        ],
        "x": 104,
        "y": 3399,
        "w": 202,
        "h": 82
    },
    {
        "id": "4d4d0643380b1f7f",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "Split each row into its own payload",
        "style": {
            "label": true
        },
        "nodes": [
            "4d95e9a2b5aee657",
            "4e72558f8b7183e3",
            "e6da8adc3b3f9d3c"
        ],
        "x": 104,
        "y": 2879,
        "w": 252,
        "h": 82
    },
    {
        "id": "f560d89917a0971d",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "Add buttons",
        "style": {
            "label": true
        },
        "nodes": [
            "519ead238c33cc41",
            "aedab797cb57c44d",
            "53e5366451aa30fd",
            "b868e584cd0ce560",
            "c582ed42ed298ba3",
            "2bc93fc7f2b504ec"
        ],
        "x": 104,
        "y": 3139,
        "w": 862,
        "h": 102
    },
    {
        "id": "efc5cd87ab60631c",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "Format the dates",
        "style": {
            "label": true
        },
        "nodes": [
            "537f8b41d33eee27",
            "4e71e51255243ae8",
            "cf85af98cadb6f5b",
            "df416de276de5508",
            "ee609f1dc8163aa0",
            "abc01444a378070c",
            "d323b2b252f21430",
            "06ef9466afbd4ceb"
        ],
        "x": 104,
        "y": 2999,
        "w": 1362,
        "h": 102
    },
    {
        "id": "f75ad477d2b26604",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "71f819b4bd1ad099",
        "name": "Select the data",
        "style": {
            "label": true
        },
        "nodes": [
            "a4c4ddd524389717",
            "9147619ddebfcfe4",
            "4d853d3f2e918ad0",
            "a115de70c4b5ab68",
            "e2076f816eb2437b"
        ],
        "x": 104,
        "y": 2519,
        "w": 662,
        "h": 122
    },
    {
        "id": "eca4797e2a60d7b0",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "Select the data according to selected line or department",
        "style": {
            "label": true
        },
        "nodes": [
            "aac4ffda6235d691",
            "b9ab16849c936fc8",
            "eb76cd5935865253",
            "d88140a2aeb23a80",
            "e39babd5966bd4cc",
            "bb8f1201a2343ae0",
            "d19bc6981d177724"
        ],
        "x": 119,
        "y": 339,
        "w": 847,
        "h": 142
    },
    {
        "id": "aa05232f163a9a99",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "If no rows were returned clear the table and show a message",
        "style": {
            "label": true
        },
        "nodes": [
            "f970904cba0b0e09",
            "d5940ce909ab72ec",
            "28b2afbcac2473d4",
            "01ea12ce14d7df92",
            "7c94cad0aaf8246d",
            "8dba094013194f6b",
            "25056389edc0db64",
            "861d2d0ace349482"
        ],
        "x": 114,
        "y": 519,
        "w": 812,
        "h": 202
    },
    {
        "id": "50838593e751005e",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "Add 'Acknowledged' and 'Resolved' buttons to each row in the table",
        "style": {
            "label": true
        },
        "nodes": [
            "1bb1ff2eb954ea6f",
            "b8568ea9f6e7b4a7",
            "a373b78e72f79b0a",
            "474932dd77c9f4a6",
            "14936e36d80db429",
            "e0aedafe60dd193d"
        ],
        "x": 114,
        "y": 979,
        "w": 862,
        "h": 102
    },
    {
        "id": "23f98fde5be1a446",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "Format the acknowledged and resolved timestamps.",
        "style": {
            "label": true
        },
        "nodes": [
            "7cf6a140e36b1711",
            "685498ecbec6733a",
            "b02925fd8ec6b297",
            "6f2e810aa0c22fed",
            "1fa6241c9d58d4db",
            "89827ff66b4029e8",
            "0bee3fadc51fe3dd",
            "c0c2b4b27e9ffb47",
            "2e0c529a0db718cc"
        ],
        "x": 114,
        "y": 839,
        "w": 1412,
        "h": 122
    },
    {
        "id": "867e96d227fa62a8",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "Group all rows back into a single array of objects",
        "style": {
            "label": true
        },
        "nodes": [
            "c57857d045f882ca",
            "6afdfebf85230db5",
            "98aeecfea0b8913c"
        ],
        "x": 114,
        "y": 1099,
        "w": 313,
        "h": 82
    },
    {
        "id": "bc211196337349c5",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "Populate the table",
        "style": {
            "label": true
        },
        "nodes": [
            "7f5142e8666d47e4",
            "58c1f4ba82c5635b"
        ],
        "x": 114,
        "y": 1199,
        "w": 212,
        "h": 82
    },
    {
        "id": "9234594ea6342f5e",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "Split each row retrieved from the database into its own payload.",
        "style": {
            "label": true
        },
        "nodes": [
            "6f1a6916eac3585e",
            "a044a859d5cb1467",
            "64df57ef4d812581"
        ],
        "x": 114,
        "y": 739,
        "w": 407,
        "h": 82
    },
    {
        "id": "02acdc0de78af5bc",
        "type": "group",
        "z": "4905164f6a425bac",
        "g": "8d71e67854502916",
        "name": "Trigger alert if the request is older than defined duration",
        "style": {
            "label": true
        },
        "nodes": [
            "2e1c370293cd5e63",
            "b7bae63290c3d5de",
            "6b96bc8c00eee2be",
            "300aad5c09231b33",
            "b08649b01048223f",
            "88b10d5c64fa8b99",
            "dd02b7f0b1a020c8"
        ],
        "x": 104,
        "y": 1299,
        "w": 1472,
        "h": 122
    },
    {
        "id": "fd5f315f792d3cf7",
        "type": "group",
        "z": "c3af105aa906e737",
        "g": "a678e038ce8b3438",
        "name": "Admin Registration",
        "style": {
            "label": true
        },
        "nodes": [
            "f0cf1cdd9ec95acf",
            "c49901682b8bc5d4",
            "d0ac4081bb469fac"
        ],
        "x": 54,
        "y": 299,
        "w": 372,
        "h": 142
    },
    {
        "id": "4e9278bef01b88b2",
        "type": "group",
        "z": "c3af105aa906e737",
        "g": "a678e038ce8b3438",
        "name": " Define the threshold duration for considering a request as old (in minutes)",
        "style": {
            "label": true
        },
        "nodes": [
            "a545ed28c44bc51b",
            "46602a48a2bf48c8"
        ],
        "x": 54,
        "y": 59,
        "w": 466,
        "h": 82
    },
    {
        "id": "4d83fc206bc232e2",
        "type": "group",
        "z": "c3af105aa906e737",
        "g": "a678e038ce8b3438",
        "name": "Define the duration threshold (in minutes) to trigger the alert",
        "style": {
            "label": true
        },
        "nodes": [
            "567f452c9cb1357e",
            "be0d588d8ea0b262",
            "28ce5eb06d3ff417",
            "4d5378aecbd49411"
        ],
        "x": 54,
        "y": 159,
        "w": 612,
        "h": 122
    },
    {
        "id": "1102ce4f58a12d64",
        "type": "group",
        "z": "8cba7b55203e6a12",
        "g": "8ec0eba66b662003",
        "name": "Create the table on deployment if it doesn't already exist.",
        "style": {
            "label": true
        },
        "nodes": [
            "08eb234f1e8eac5e",
            "e4ca3e9886a283cf",
            "a95b2c2838afd7e0",
            "8d50e57636b774a9"
        ],
        "x": 74,
        "y": 59,
        "w": 672,
        "h": 82
    },
    {
        "id": "df60d434a52bd6a2",
        "type": "group",
        "z": "8cba7b55203e6a12",
        "g": "8ec0eba66b662003",
        "name": "Delete records older than 30 days",
        "style": {
            "label": true
        },
        "nodes": [
            "23fb0462f15023af",
            "7903e648e5a67c40",
            "5775dcb91c0feacb",
            "bb588342c1bc27a3",
            "74f10f7f705d46bf"
        ],
        "x": 74,
        "y": 199,
        "w": 772,
        "h": 82
    },
    {
        "id": "31a61a6d5c397cf4",
        "type": "ui-group",
        "name": " ",
        "page": "a3eff10a8bb2d0b3",
        "width": "9",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "job",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "31abef4ecbfd6327",
        "type": "sqlitedb",
        "db": "sqlite",
        "mode": "RWC"
    },
    {
        "id": "4e4fb4a8fa51768f",
        "type": "ui-group",
        "name": "header",
        "page": "8722daf1272747fc",
        "width": "8",
        "height": "2",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c385dfc590b1308d",
        "type": "ui-base",
        "name": "Support Request Blueprint",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-button",
            "ui-button-group"
        ],
        "showPathInSidebar": false,
        "showPageTitle": false,
        "navigationStyle": "temporary",
        "titleBarStyle": "default"
    },
    {
        "id": "b4924dbd6cb1a91b",
        "type": "ui-group",
        "name": "Table",
        "page": "8722daf1272747fc",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ebdaf2a0563f2ae3",
        "type": "ui-group",
        "name": "Create New Line and Department",
        "page": "8722daf1272747fc",
        "width": "4",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "165815e4f97d2ad3",
        "type": "ui-group",
        "name": "Not found",
        "page": "d0def7a91d3b7aa1",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a3eff10a8bb2d0b3",
        "type": "ui-page",
        "name": "Support Request",
        "ui": "c385dfc590b1308d",
        "path": "/support-request",
        "icon": "",
        "layout": "notebook",
        "theme": "6be033291dd76b17",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "false",
        "disabled": "false"
    },
    {
        "id": "8722daf1272747fc",
        "type": "ui-page",
        "name": "Admin",
        "ui": "c385dfc590b1308d",
        "path": "/admin",
        "icon": "security",
        "layout": "grid",
        "theme": "6be033291dd76b17",
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d0def7a91d3b7aa1",
        "type": "ui-page",
        "name": "Not found",
        "ui": "c385dfc590b1308d",
        "path": "/404",
        "icon": "home",
        "layout": "grid",
        "theme": "6be033291dd76b17",
        "order": 3,
        "className": "",
        "visible": "false",
        "disabled": "false"
    },
    {
        "id": "6be033291dd76b17",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#202c34",
            "primary": "#202c34",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#ffffff"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px",
            "density": "default"
        }
    },
    {
        "id": "b9ab16849c936fc8",
        "type": "template",
        "z": "4905164f6a425bac",
        "g": "eca4797e2a60d7b0",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * from requests WHERE \"{{query}}\" =\"{{line}}\" AND resolved IS NULL",
        "output": "str",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "aac4ffda6235d691"
            ]
        ]
    },
    {
        "id": "eb76cd5935865253",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "eca4797e2a60d7b0",
        "name": "Set query & department",
        "rules": [
            {
                "t": "set",
                "p": "line",
                "pt": "msg",
                "to": "line",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "query",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 515,
        "y": 400,
        "wires": [
            [
                "b9ab16849c936fc8"
            ]
        ]
    },
    {
        "id": "d88140a2aeb23a80",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "eca4797e2a60d7b0",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f970904cba0b0e09"
        ],
        "x": 925,
        "y": 400,
        "wires": []
    },
    {
        "id": "6f1a6916eac3585e",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "9234594ea6342f5e",
        "name": "link in 1",
        "links": [
            "d5940ce909ab72ec"
        ],
        "x": 155,
        "y": 780,
        "wires": [
            [
                "a044a859d5cb1467"
            ]
        ]
    },
    {
        "id": "a044a859d5cb1467",
        "type": "split",
        "z": "4905164f6a425bac",
        "g": "9234594ea6342f5e",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 240,
        "y": 780,
        "wires": [
            [
                "64df57ef4d812581"
            ]
        ]
    },
    {
        "id": "64df57ef4d812581",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "9234594ea6342f5e",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "7cf6a140e36b1711"
        ],
        "x": 325,
        "y": 780,
        "wires": []
    },
    {
        "id": "7f5142e8666d47e4",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "bc211196337349c5",
        "name": "link in 2",
        "links": [
            "6afdfebf85230db5",
            "01ea12ce14d7df92"
        ],
        "x": 155,
        "y": 1240,
        "wires": [
            [
                "58c1f4ba82c5635b"
            ]
        ]
    },
    {
        "id": "c57857d045f882ca",
        "type": "join",
        "z": "4905164f6a425bac",
        "g": "867e96d227fa62a8",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 250,
        "y": 1140,
        "wires": [
            [
                "6afdfebf85230db5"
            ]
        ]
    },
    {
        "id": "6afdfebf85230db5",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "867e96d227fa62a8",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "7f5142e8666d47e4"
        ],
        "x": 335,
        "y": 1140,
        "wires": []
    },
    {
        "id": "98aeecfea0b8913c",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "867e96d227fa62a8",
        "name": "link in 5",
        "links": [
            "b8568ea9f6e7b4a7"
        ],
        "x": 155,
        "y": 1140,
        "wires": [
            [
                "c57857d045f882ca"
            ]
        ]
    },
    {
        "id": "7cf6a140e36b1711",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "23f98fde5be1a446",
        "name": "link in 6",
        "links": [
            "64df57ef4d812581"
        ],
        "x": 155,
        "y": 900,
        "wires": [
            [
                "c0c2b4b27e9ffb47"
            ]
        ]
    },
    {
        "id": "6f2e810aa0c22fed",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "23f98fde5be1a446",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "1bb1ff2eb954ea6f"
        ],
        "x": 1485,
        "y": 900,
        "wires": []
    },
    {
        "id": "1bb1ff2eb954ea6f",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "50838593e751005e",
        "name": "link in 7",
        "links": [
            "6f2e810aa0c22fed"
        ],
        "x": 155,
        "y": 1040,
        "wires": [
            [
                "474932dd77c9f4a6"
            ]
        ]
    },
    {
        "id": "b8568ea9f6e7b4a7",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "50838593e751005e",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "98aeecfea0b8913c"
        ],
        "x": 935,
        "y": 1040,
        "wires": []
    },
    {
        "id": "89827ff66b4029e8",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "23f98fde5be1a446",
        "name": "acknowledged is null?",
        "property": "payload.acknowledged",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 900,
        "wires": [
            [
                "1fa6241c9d58d4db"
            ],
            [
                "685498ecbec6733a"
            ]
        ]
    },
    {
        "id": "1fa6241c9d58d4db",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "23f98fde5be1a446",
        "name": "resolved is null?",
        "property": "payload.resolved",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 900,
        "wires": [
            [
                "6f2e810aa0c22fed"
            ],
            [
                "b02925fd8ec6b297"
            ]
        ]
    },
    {
        "id": "474932dd77c9f4a6",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "50838593e751005e",
        "name": "acknowledged is null?",
        "property": "payload.acknowledged",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "14936e36d80db429"
            ],
            [
                "a373b78e72f79b0a"
            ]
        ]
    },
    {
        "id": "a373b78e72f79b0a",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "50838593e751005e",
        "name": "resolved is null?",
        "property": "payload.resolved",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 1040,
        "wires": [
            [
                "e0aedafe60dd193d"
            ],
            [
                "b8568ea9f6e7b4a7"
            ]
        ]
    },
    {
        "id": "14936e36d80db429",
        "type": "template",
        "z": "4905164f6a425bac",
        "g": "50838593e751005e",
        "name": "Build ack link",
        "field": "payload.acknowledged",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<a href=\"/dashboard/{{line}}?page={{line}}&action=ack&request={{payload.rowid}}\" style=\"color: #000000\" class=\"{{payload.class}}\">ACKNOWLEDGE</a>",
        "output": "str",
        "x": 490,
        "y": 1020,
        "wires": [
            [
                "a373b78e72f79b0a"
            ]
        ]
    },
    {
        "id": "e0aedafe60dd193d",
        "type": "template",
        "z": "4905164f6a425bac",
        "g": "50838593e751005e",
        "name": "Build res link",
        "field": "payload.resolved",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<a href=\"/dashboard/{{line}}?page={{line}}&action=res&request={{payload.rowid}}\" style=\"color: #000000\">RESOLVE</a>",
        "output": "str",
        "x": 830,
        "y": 1020,
        "wires": [
            [
                "b8568ea9f6e7b4a7"
            ]
        ]
    },
    {
        "id": "e39babd5966bd4cc",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "eca4797e2a60d7b0",
        "name": "Refresh data",
        "links": [
            "690bddfb420cba47"
        ],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "eb76cd5935865253"
            ]
        ]
    },
    {
        "id": "f970904cba0b0e09",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "aa05232f163a9a99",
        "name": "link in 8",
        "links": [
            "d88140a2aeb23a80"
        ],
        "x": 155,
        "y": 600,
        "wires": [
            [
                "28b2afbcac2473d4"
            ]
        ]
    },
    {
        "id": "d5940ce909ab72ec",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "aa05232f163a9a99",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "6f1a6916eac3585e"
        ],
        "x": 395,
        "y": 680,
        "wires": []
    },
    {
        "id": "28b2afbcac2473d4",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "aa05232f163a9a99",
        "name": "Payload empty?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 600,
        "wires": [
            [
                "7c94cad0aaf8246d",
                "8dba094013194f6b"
            ],
            [
                "d5940ce909ab72ec",
                "25056389edc0db64"
            ]
        ]
    },
    {
        "id": "01ea12ce14d7df92",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "aa05232f163a9a99",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "7f5142e8666d47e4"
        ],
        "x": 885,
        "y": 560,
        "wires": []
    },
    {
        "id": "7c94cad0aaf8246d",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "aa05232f163a9a99",
        "name": "Set empty array",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 560,
        "wires": [
            [
                "01ea12ce14d7df92"
            ]
        ]
    },
    {
        "id": "8dba094013194f6b",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "aa05232f163a9a99",
        "name": "show 'no outstanding request' message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "There are no outstanding requests",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 600,
        "wires": [
            [
                "861d2d0ace349482"
            ]
        ]
    },
    {
        "id": "25056389edc0db64",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "aa05232f163a9a99",
        "name": "Remove 'no outstanding request' message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 640,
        "wires": [
            [
                "861d2d0ace349482"
            ]
        ]
    },
    {
        "id": "1e5cdfe8859428fb",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "Store support (department) to context store",
        "rules": [
            {
                "t": "set",
                "p": "support",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "ff7e45f9f58e41ae",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "Store notes to context store",
        "rules": [
            {
                "t": "set",
                "p": "notes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "d4f7a69e90172c7d",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "Show Dropdown Options",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.options",
                "pt": "msg",
                "to": "#:(persistent)::departments",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1540,
        "wires": [
            [
                "c4ee5a28c33fb826"
            ]
        ]
    },
    {
        "id": "56d7bbef8267a019",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "Retrieve entered support request data",
        "rules": [
            {
                "t": "set",
                "p": "request.support",
                "pt": "msg",
                "to": "support",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "request.notes",
                "pt": "msg",
                "to": "notes",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "request.line",
                "pt": "msg",
                "to": "line",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1640,
        "wires": [
            [
                "0da9e11834187f55"
            ]
        ]
    },
    {
        "id": "2f6487260b827a23",
        "type": "template",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "Insert support request into the database.",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO requests (rowid,line,support,requested,notes)\nVALUES(NULL,'{{request.line}}','{{request.support}}','{{request.time}}','{{request.notes}}');",
        "output": "str",
        "x": 1080,
        "y": 1640,
        "wires": [
            [
                "a1d7ee1b8fcea94d"
            ]
        ]
    },
    {
        "id": "690bddfb420cba47",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "e39babd5966bd4cc"
        ],
        "x": 1745,
        "y": 1640,
        "wires": []
    },
    {
        "id": "70e24e92063897f6",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "Clear entered request data from context",
        "rules": [
            {
                "t": "delete",
                "p": "support",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "notes",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 1640,
        "wires": [
            [
                "690bddfb420cba47"
            ]
        ]
    },
    {
        "id": "e7b614800ccc9e7c",
        "type": "ui-text-input",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "group": "31a61a6d5c397cf4",
        "name": "Notes",
        "label": "Notes",
        "order": 4,
        "width": "0",
        "height": "0",
        "topic": "topic",
        "topicType": "msg",
        "mode": "textarea",
        "tooltip": "",
        "delay": 300,
        "passthru": false,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "right",
        "iconInnerPosition": "inside",
        "x": 810,
        "y": 1580,
        "wires": [
            [
                "ff7e45f9f58e41ae"
            ]
        ]
    },
    {
        "id": "c72f85794babeed7",
        "type": "ui-button",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "group": "31a61a6d5c397cf4",
        "name": "",
        "label": "Request Support",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "send",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 300,
        "y": 1560,
        "wires": [
            [
                "d4f7a69e90172c7d",
                "56d7bbef8267a019"
            ]
        ]
    },
    {
        "id": "c4ee5a28c33fb826",
        "type": "ui-dropdown",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "group": "31a61a6d5c397cf4",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "x": 840,
        "y": 1540,
        "wires": [
            [
                "1e5cdfe8859428fb"
            ]
        ]
    },
    {
        "id": "861d2d0ace349482",
        "type": "ui-text",
        "z": "4905164f6a425bac",
        "g": "aa05232f163a9a99",
        "group": "31a61a6d5c397cf4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Alert for no jobs",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 820,
        "y": 620,
        "wires": []
    },
    {
        "id": "58c1f4ba82c5635b",
        "type": "ui-table",
        "z": "4905164f6a425bac",
        "g": "bc211196337349c5",
        "group": "31a61a6d5c397cf4",
        "name": "Jobs",
        "label": "text",
        "order": 2,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Request",
                "key": "rowid",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Line",
                "key": "line",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Support",
                "key": "support",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Requested",
                "key": "requested",
                "keyType": "key",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Acknowledged",
                "key": "acknowledged",
                "keyType": "key",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Resolved",
                "key": "resolved",
                "keyType": "key",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Notes",
                "key": "notes",
                "keyType": "key",
                "type": "text",
                "width": "40%",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 250,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "685498ecbec6733a",
        "type": "moment",
        "z": "4905164f6a425bac",
        "g": "23f98fde5be1a446",
        "name": "Acknowledged format",
        "topic": "",
        "input": "payload.acknowledged",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "fromNow",
        "locale": "en-US",
        "output": "payload.acknowledged",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 950,
        "y": 920,
        "wires": [
            [
                "1fa6241c9d58d4db"
            ]
        ]
    },
    {
        "id": "b02925fd8ec6b297",
        "type": "moment",
        "z": "4905164f6a425bac",
        "g": "23f98fde5be1a446",
        "name": "Resolved format",
        "topic": "",
        "input": "payload.resolved",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en-US",
        "output": "payload.resolved",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 1370,
        "y": 920,
        "wires": [
            [
                "6f2e810aa0c22fed"
            ]
        ]
    },
    {
        "id": "0da9e11834187f55",
        "type": "moment",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "request.time",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 740,
        "y": 1640,
        "wires": [
            [
                "2f6487260b827a23"
            ]
        ]
    },
    {
        "id": "aac4ffda6235d691",
        "type": "sqlite",
        "z": "4905164f6a425bac",
        "g": "eca4797e2a60d7b0",
        "mydb": "31abef4ecbfd6327",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 840,
        "y": 400,
        "wires": [
            [
                "d88140a2aeb23a80"
            ]
        ]
    },
    {
        "id": "a1d7ee1b8fcea94d",
        "type": "sqlite",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "mydb": "31abef4ecbfd6327",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1310,
        "y": 1640,
        "wires": [
            [
                "70e24e92063897f6"
            ]
        ]
    },
    {
        "id": "79c1695006354fa9",
        "type": "ui-button-group",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "group": "4e4fb4a8fa51768f",
        "order": 1,
        "width": "8",
        "height": "2",
        "label": "Production Line",
        "rounded": false,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "T1",
                "icon": "",
                "value": "T1",
                "valueType": "str",
                "color": "#3d2a51"
            },
            {
                "label": "T2",
                "icon": "",
                "value": "T2",
                "valueType": "str",
                "color": "#3d2a51"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2260,
        "wires": [
            [
                "bc688ab799f52184"
            ]
        ]
    },
    {
        "id": "870ab5e758bb7e29",
        "type": "ui-button-group",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "group": "4e4fb4a8fa51768f",
        "order": 2,
        "width": "8",
        "height": "2",
        "label": "Department",
        "rounded": false,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "Quality",
                "icon": "",
                "value": "Quality",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Maintenance",
                "icon": "",
                "value": "Maintenance",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Stores",
                "icon": "",
                "value": "Stores",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "Engeeniring",
                "icon": "",
                "value": "Engeeniring",
                "valueType": "str",
                "color": "#009999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 620,
        "y": 2300,
        "wires": [
            [
                "92a5d186ece95d63"
            ]
        ]
    },
    {
        "id": "bc688ab799f52184",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "line",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Support Request",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "global",
                "to": "line",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 2260,
        "wires": [
            [
                "72aeb61fdcce3869",
                "3c8c66cc0a5674ac"
            ]
        ]
    },
    {
        "id": "92a5d186ece95d63",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "line",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Support Request",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "global",
                "to": "support",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 2300,
        "wires": [
            [
                "72aeb61fdcce3869",
                "6e81d00a13a15409"
            ]
        ]
    },
    {
        "id": "72aeb61fdcce3869",
        "type": "ui-control",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "ui": "c385dfc590b1308d",
        "events": "all",
        "x": 1020,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "374f377806c7cc60",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "link in 69",
        "links": [
            "7643b5fd02a5187f",
            "f0eeb308bdd5ee14"
        ],
        "x": 145,
        "y": 1560,
        "wires": [
            [
                "c72f85794babeed7"
            ]
        ]
    },
    {
        "id": "7643b5fd02a5187f",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "link out 91",
        "mode": "link",
        "links": [
            "090bf0423da58233",
            "374f377806c7cc60"
        ],
        "x": 1165,
        "y": 2300,
        "wires": []
    },
    {
        "id": "a4c4ddd524389717",
        "type": "sqlite",
        "z": "4905164f6a425bac",
        "g": "f75ad477d2b26604",
        "mydb": "31abef4ecbfd6327",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 560,
        "y": 2600,
        "wires": [
            [
                "4d853d3f2e918ad0"
            ]
        ]
    },
    {
        "id": "9147619ddebfcfe4",
        "type": "template",
        "z": "4905164f6a425bac",
        "g": "f75ad477d2b26604",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * from requests WHERE resolved IS NULL",
        "output": "str",
        "x": 370,
        "y": 2600,
        "wires": [
            [
                "a4c4ddd524389717"
            ]
        ]
    },
    {
        "id": "4d853d3f2e918ad0",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "f75ad477d2b26604",
        "name": "link out 82",
        "mode": "link",
        "links": [
            "3fe1a79e7dbc36b1"
        ],
        "x": 725,
        "y": 2600,
        "wires": []
    },
    {
        "id": "537f8b41d33eee27",
        "type": "moment",
        "z": "4905164f6a425bac",
        "g": "efc5cd87ab60631c",
        "name": "Resolved format",
        "topic": "",
        "input": "payload.resolved",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en-US",
        "output": "payload.resolved",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 1310,
        "y": 3060,
        "wires": [
            [
                "4e71e51255243ae8"
            ]
        ]
    },
    {
        "id": "4e71e51255243ae8",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "efc5cd87ab60631c",
        "name": "link out 85",
        "mode": "link",
        "links": [
            "53e5366451aa30fd"
        ],
        "x": 1425,
        "y": 3040,
        "wires": []
    },
    {
        "id": "cf85af98cadb6f5b",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "efc5cd87ab60631c",
        "name": "resolved is null?",
        "property": "payload.resolved",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 3040,
        "wires": [
            [
                "4e71e51255243ae8"
            ],
            [
                "537f8b41d33eee27"
            ]
        ]
    },
    {
        "id": "519ead238c33cc41",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "f560d89917a0971d",
        "name": "link out 86",
        "mode": "link",
        "links": [
            "0a52d10871851d65"
        ],
        "x": 925,
        "y": 3200,
        "wires": []
    },
    {
        "id": "df416de276de5508",
        "type": "moment",
        "z": "4905164f6a425bac",
        "g": "efc5cd87ab60631c",
        "name": "Acknowledged format",
        "topic": "",
        "input": "payload.acknowledged",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "fromNow",
        "locale": "en-US",
        "output": "payload.acknowledged",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 930,
        "y": 3060,
        "wires": [
            [
                "cf85af98cadb6f5b"
            ]
        ]
    },
    {
        "id": "aedab797cb57c44d",
        "type": "template",
        "z": "4905164f6a425bac",
        "g": "f560d89917a0971d",
        "name": "Build res link",
        "field": "payload.resolved",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<a href=\"/dashboard/admin?action=res&request={{payload.rowid}}\" style=\"color: #000000;\">RESOLVE</a>",
        "output": "str",
        "x": 820,
        "y": 3180,
        "wires": [
            [
                "519ead238c33cc41"
            ]
        ]
    },
    {
        "id": "4d95e9a2b5aee657",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "4d4d0643380b1f7f",
        "name": "link in 63",
        "links": [
            "d4d759e2952bc006"
        ],
        "x": 145,
        "y": 2920,
        "wires": [
            [
                "4e72558f8b7183e3"
            ]
        ]
    },
    {
        "id": "4e72558f8b7183e3",
        "type": "split",
        "z": "4905164f6a425bac",
        "g": "4d4d0643380b1f7f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 230,
        "y": 2920,
        "wires": [
            [
                "e6da8adc3b3f9d3c"
            ]
        ]
    },
    {
        "id": "e6da8adc3b3f9d3c",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "4d4d0643380b1f7f",
        "name": "link out 83",
        "mode": "link",
        "links": [
            "ee609f1dc8163aa0"
        ],
        "x": 315,
        "y": 2920,
        "wires": []
    },
    {
        "id": "4bcd04b2b89da547",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "c52fb6a01d9ae843",
        "name": "link in 64",
        "links": [
            "9f039ccfaceba6f9",
            "a2153611282480a4"
        ],
        "x": 145,
        "y": 3440,
        "wires": [
            [
                "230b01e63c940cc7"
            ]
        ]
    },
    {
        "id": "230b01e63c940cc7",
        "type": "ui-table",
        "z": "4905164f6a425bac",
        "g": "c52fb6a01d9ae843",
        "group": "b4924dbd6cb1a91b",
        "name": "Jobs",
        "label": "text",
        "order": 2,
        "width": 0,
        "height": 0,
        "maxrows": "5",
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Request",
                "key": "rowid",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Line",
                "key": "line",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Support",
                "key": "support",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Requested",
                "key": "requested",
                "keyType": "key",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Acknowledged",
                "key": "acknowledged",
                "keyType": "key",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Resolved",
                "key": "resolved",
                "keyType": "key",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Notes",
                "key": "notes",
                "keyType": "key",
                "type": "text",
                "width": "40%",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 230,
        "y": 3440,
        "wires": [
            []
        ]
    },
    {
        "id": "48c79ea0b20a2e1e",
        "type": "join",
        "z": "4905164f6a425bac",
        "g": "300d5ac0c043d4bb",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 240,
        "y": 3320,
        "wires": [
            [
                "9f039ccfaceba6f9"
            ]
        ]
    },
    {
        "id": "9f039ccfaceba6f9",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "300d5ac0c043d4bb",
        "name": "link out 84",
        "mode": "link",
        "links": [
            "4bcd04b2b89da547"
        ],
        "x": 325,
        "y": 3320,
        "wires": []
    },
    {
        "id": "0a52d10871851d65",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "300d5ac0c043d4bb",
        "name": "link in 65",
        "links": [
            "519ead238c33cc41"
        ],
        "x": 145,
        "y": 3320,
        "wires": [
            [
                "48c79ea0b20a2e1e"
            ]
        ]
    },
    {
        "id": "ee609f1dc8163aa0",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "efc5cd87ab60631c",
        "name": "link in 66",
        "links": [
            "e6da8adc3b3f9d3c"
        ],
        "x": 145,
        "y": 3040,
        "wires": [
            [
                "06ef9466afbd4ceb"
            ]
        ]
    },
    {
        "id": "abc01444a378070c",
        "type": "moment",
        "z": "4905164f6a425bac",
        "g": "efc5cd87ab60631c",
        "name": "Requested format",
        "topic": "",
        "input": "payload.requested",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "fromNow",
        "locale": "en-US",
        "output": "payload.requested",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 480,
        "y": 3040,
        "wires": [
            [
                "d323b2b252f21430"
            ]
        ]
    },
    {
        "id": "d323b2b252f21430",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "efc5cd87ab60631c",
        "name": "acknowledged is null?",
        "property": "payload.acknowledged",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 3040,
        "wires": [
            [
                "cf85af98cadb6f5b"
            ],
            [
                "df416de276de5508"
            ]
        ]
    },
    {
        "id": "53e5366451aa30fd",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "f560d89917a0971d",
        "name": "link in 67",
        "links": [
            "4e71e51255243ae8"
        ],
        "x": 145,
        "y": 3200,
        "wires": [
            [
                "c582ed42ed298ba3"
            ]
        ]
    },
    {
        "id": "b868e584cd0ce560",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "f560d89917a0971d",
        "name": "resolved is null?",
        "property": "payload.resolved",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 3200,
        "wires": [
            [
                "aedab797cb57c44d"
            ],
            [
                "519ead238c33cc41"
            ]
        ]
    },
    {
        "id": "c582ed42ed298ba3",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "f560d89917a0971d",
        "name": "acknowledged is null?",
        "property": "payload.acknowledged",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 3200,
        "wires": [
            [
                "2bc93fc7f2b504ec"
            ],
            [
                "b868e584cd0ce560"
            ]
        ]
    },
    {
        "id": "2bc93fc7f2b504ec",
        "type": "template",
        "z": "4905164f6a425bac",
        "g": "f560d89917a0971d",
        "name": "Build ack link",
        "field": "payload.acknowledged",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<a href=\"/dashboard/admin?action=ack&request={{payload.rowid}}\" style=\"color: #000000\" class=\"{{payload.class}}\">ACKNOWLEDGE</a>",
        "output": "str",
        "x": 480,
        "y": 3180,
        "wires": [
            [
                "b868e584cd0ce560"
            ]
        ]
    },
    {
        "id": "3fe1a79e7dbc36b1",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "3b77ef92cb332f1c",
        "name": "link in 68",
        "links": [
            "4d853d3f2e918ad0"
        ],
        "x": 145,
        "y": 2740,
        "wires": [
            [
                "c192a5dcb06e8aea"
            ]
        ]
    },
    {
        "id": "d4d759e2952bc006",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "3b77ef92cb332f1c",
        "name": "link out 87",
        "mode": "link",
        "links": [
            "4d95e9a2b5aee657"
        ],
        "x": 405,
        "y": 2800,
        "wires": []
    },
    {
        "id": "c192a5dcb06e8aea",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "3b77ef92cb332f1c",
        "name": "Payload empty?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 2740,
        "wires": [
            [
                "c6a7b9c74fc91edf",
                "432570d5412cc5ce"
            ],
            [
                "d4d759e2952bc006",
                "35ef2993e39644f6"
            ]
        ]
    },
    {
        "id": "a2153611282480a4",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "3b77ef92cb332f1c",
        "name": "link out 88",
        "mode": "link",
        "links": [
            "4bcd04b2b89da547"
        ],
        "x": 585,
        "y": 2720,
        "wires": []
    },
    {
        "id": "c6a7b9c74fc91edf",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "3b77ef92cb332f1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 2720,
        "wires": [
            [
                "a2153611282480a4"
            ]
        ]
    },
    {
        "id": "432570d5412cc5ce",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "3b77ef92cb332f1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "There are no outstanding requests",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2760,
        "wires": [
            [
                "e70b196b0dae468f"
            ]
        ]
    },
    {
        "id": "35ef2993e39644f6",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "3b77ef92cb332f1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 2800,
        "wires": [
            [
                "e70b196b0dae468f"
            ]
        ]
    },
    {
        "id": "e70b196b0dae468f",
        "type": "ui-text",
        "z": "4905164f6a425bac",
        "g": "3b77ef92cb332f1c",
        "group": "b4924dbd6cb1a91b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Alert for no jobs",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 680,
        "y": 2760,
        "wires": []
    },
    {
        "id": "a115de70c4b5ab68",
        "type": "ui-control",
        "z": "4905164f6a425bac",
        "g": "f75ad477d2b26604",
        "name": "",
        "ui": "c385dfc590b1308d",
        "events": "all",
        "x": 190,
        "y": 2600,
        "wires": [
            [
                "9147619ddebfcfe4"
            ]
        ]
    },
    {
        "id": "164c96c714465739",
        "type": "ui-form",
        "z": "4905164f6a425bac",
        "g": "9fa130396aaf0d6d",
        "name": "",
        "group": "ebdaf2a0563f2ae3",
        "label": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "New Line",
                "key": "line",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "New Department",
                "key": "department",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "line": "",
            "department": ""
        },
        "payload": "",
        "submit": "Add",
        "cancel": "Cancel",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "form",
        "dropdownOptions": [],
        "x": 180,
        "y": 2440,
        "wires": [
            [
                "1d4c8ea12fe2bd84"
            ]
        ]
    },
    {
        "id": "1d4c8ea12fe2bd84",
        "type": "function",
        "z": "4905164f6a425bac",
        "g": "9fa130396aaf0d6d",
        "name": "Add new lines and departments",
        "func": "let lines = global.get('lines', 'persistent') || [];\nlet departments = global.get('departments', 'persistent') || [];\n\nlet line = msg.payload.line || \"\";\nlet department = msg.payload.department || \"\";\n\n// Add line if it doesn't already exist\nif (line !== \"\" && !lines.some(existingLine => existingLine.value === line)) {\n    lines.push({ value: line, label: line });\n}\n\n// Add department if it doesn't already exist\nif (department !== \"\" && !departments.some(existingDepartment => existingDepartment.value === department)) {\n    departments.push({ value: department, label: department });\n}\n\nglobal.set('lines', lines, 'persistent');\nglobal.set('departments', departments, 'persistent');\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 2440,
        "wires": [
            [
                "1ebd65f9760d07de"
            ]
        ]
    },
    {
        "id": "f655b9fae60a84ac",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ui_update.options",
                "pt": "msg",
                "to": "#:(persistent)::lines",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 2260,
        "wires": [
            [
                "79c1695006354fa9"
            ]
        ]
    },
    {
        "id": "d845f4ace1264854",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.options",
                "pt": "msg",
                "to": "#:(persistent)::departments",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2300,
        "wires": [
            [
                "870ab5e758bb7e29"
            ]
        ]
    },
    {
        "id": "e6f81ba86ec37391",
        "type": "template",
        "z": "4905164f6a425bac",
        "g": "6af400ee2fa53066",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE requests SET {{action}} = \"{{now}}\" WHERE rowid={{payload.query.request}}",
        "output": "str",
        "x": 1140,
        "y": 1800,
        "wires": [
            [
                "626ab35c897c3795"
            ]
        ]
    },
    {
        "id": "0cb80de80bc87a4e",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "6af400ee2fa53066",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1800,
        "wires": [
            [
                "e0ee3dee811104ae"
            ]
        ]
    },
    {
        "id": "663625b4f78d1e07",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "6af400ee2fa53066",
        "name": "Update Ack or Res?",
        "property": "query.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ack",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "res",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 780,
        "y": 1800,
        "wires": [
            [
                "49bfb0ce338ed731"
            ],
            [
                "6ba3de806b6862fb"
            ],
            []
        ]
    },
    {
        "id": "49bfb0ce338ed731",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "6af400ee2fa53066",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "acknowledged",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1780,
        "wires": [
            [
                "e6f81ba86ec37391"
            ]
        ]
    },
    {
        "id": "6ba3de806b6862fb",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "6af400ee2fa53066",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "resolved",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1820,
        "wires": [
            [
                "e6f81ba86ec37391"
            ]
        ]
    },
    {
        "id": "c287cb7b0a4edaf8",
        "type": "ui-event",
        "z": "4905164f6a425bac",
        "g": "6af400ee2fa53066",
        "ui": "c385dfc590b1308d",
        "name": "",
        "x": 190,
        "y": 1800,
        "wires": [
            [
                "0cb80de80bc87a4e"
            ]
        ]
    },
    {
        "id": "e0ee3dee811104ae",
        "type": "moment",
        "z": "4905164f6a425bac",
        "g": "6af400ee2fa53066",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "now",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 560,
        "y": 1800,
        "wires": [
            [
                "663625b4f78d1e07"
            ]
        ]
    },
    {
        "id": "626ab35c897c3795",
        "type": "sqlite",
        "z": "4905164f6a425bac",
        "g": "6af400ee2fa53066",
        "mydb": "31abef4ecbfd6327",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1270,
        "y": 1800,
        "wires": [
            [
                "96253a27b8c20592"
            ]
        ]
    },
    {
        "id": "96253a27b8c20592",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "6af400ee2fa53066",
        "name": "link out 93",
        "mode": "link",
        "links": [
            "bb8f1201a2343ae0"
        ],
        "x": 1385,
        "y": 1800,
        "wires": []
    },
    {
        "id": "bb8f1201a2343ae0",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "eca4797e2a60d7b0",
        "name": "link in 72",
        "links": [
            "96253a27b8c20592"
        ],
        "x": 330,
        "y": 380,
        "wires": [
            [
                "eb76cd5935865253"
            ]
        ]
    },
    {
        "id": "1ebd65f9760d07de",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "9fa130396aaf0d6d",
        "name": "link out 94",
        "mode": "link",
        "links": [
            "f07358df462f5da0"
        ],
        "x": 565,
        "y": 2440,
        "wires": []
    },
    {
        "id": "f07358df462f5da0",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "link in 73",
        "links": [
            "1ebd65f9760d07de"
        ],
        "x": 215,
        "y": 2320,
        "wires": [
            [
                "f655b9fae60a84ac",
                "d845f4ace1264854"
            ]
        ]
    },
    {
        "id": "6e81d00a13a15409",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "class",
                "pt": "msg",
                "to": "hide",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "_client",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 2320,
        "wires": [
            [
                "7643b5fd02a5187f"
            ]
        ]
    },
    {
        "id": "81d751a698d397b4",
        "type": "ui-template",
        "z": "4905164f6a425bac",
        "g": "6c56d46f69e36edf",
        "group": "",
        "page": "",
        "ui": "c385dfc590b1308d",
        "name": "Side profile icon showing the currently logged-in user",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <!-- Teleport the button to the #app-bar-actions area when mounted -->\n    <Teleport v-if=\"mounted\" to=\"#app-bar-title\">\n    <img height=\"32px\" src=\"https://app.flowfuse.com/ff-logo--wordmark-caps--dark.png\"></img>\n    </Teleport>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        mounted() {\n            // Set mounted to true when the component is mounted\n            this.mounted = true\n        }\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 300,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d19bc6981d177724",
        "type": "inject",
        "z": "4905164f6a425bac",
        "g": "eca4797e2a60d7b0",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 215,
        "y": 400,
        "wires": [
            [
                "eb76cd5935865253"
            ]
        ]
    },
    {
        "id": "c6dd2dcc537de80c",
        "type": "ui-event",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "ui": "c385dfc590b1308d",
        "name": "",
        "x": 180,
        "y": 1980,
        "wires": [
            [
                "1c66bc7fd01e098d"
            ]
        ]
    },
    {
        "id": "7dd62e6a647c1596",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "global",
                "to": "line",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "line",
                "pt": "global",
                "to": "payload.query.line",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "class",
                "pt": "msg",
                "to": "show",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ui_update.options",
                "pt": "msg",
                "to": "#:(persistent)::departments",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1960,
        "wires": [
            [
                "f0eeb308bdd5ee14"
            ]
        ]
    },
    {
        "id": "a8da0c434007e8a5",
        "type": "ui-markdown",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "group": "165815e4f97d2ad3",
        "name": "Not found page",
        "order": 1,
        "width": 0,
        "height": 0,
        "content": "<p align=\"center\">\n  <img src=\"https://cdn.dribbble.com/users/2382015/screenshots/6065978/no_result.gif\" alt=\"No Result\">\n</p>\n",
        "className": "",
        "x": 1530,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "1f9fddda50deb4bc",
        "type": "ui-control",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "",
        "ui": "c385dfc590b1308d",
        "events": "all",
        "x": 1350,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "9a114eef8e992d4d",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "Redirect to Not found page",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Not found",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 2000,
        "wires": [
            [
                "1f9fddda50deb4bc"
            ]
        ]
    },
    {
        "id": "1c66bc7fd01e098d",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "Has line key?",
        "property": "payload.query",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "line",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "department",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1980,
        "wires": [
            [
                "7dd62e6a647c1596",
                "8f8725dc247c2239"
            ],
            [
                "b59bd170d128cec5",
                "9575766c57a0c6bb"
            ]
        ]
    },
    {
        "id": "f0eeb308bdd5ee14",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "link out 95",
        "mode": "link",
        "links": [
            "090bf0423da58233",
            "374f377806c7cc60"
        ],
        "x": 905,
        "y": 1980,
        "wires": []
    },
    {
        "id": "8f8725dc247c2239",
        "type": "function",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "Merge lines array",
        "func": "let lines = global.get('lines', 'persistent') || [];\n\n// Extract label values from both arrays, convert to lowercase, and merge them into a single array\nlet labels = [\n    ...lines.map(obj => obj.label),\n];\n\n// Set the merged labels array in the message\nmsg.payload = labels;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1920,
        "wires": [
            [
                "b17888bf6561e112"
            ]
        ]
    },
    {
        "id": "b17888bf6561e112",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "line",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 1920,
        "wires": [
            [],
            [
                "9a114eef8e992d4d"
            ]
        ]
    },
    {
        "id": "851be5844570bb3f",
        "type": "ui-event",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "ui": "c385dfc590b1308d",
        "name": "",
        "x": 180,
        "y": 3760,
        "wires": [
            [
                "39494284fe0033a1"
            ]
        ]
    },
    {
        "id": "4415ed2e92b78e33",
        "type": "ui-control",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "",
        "ui": "c385dfc590b1308d",
        "events": "all",
        "x": 840,
        "y": 3740,
        "wires": [
            []
        ]
    },
    {
        "id": "6e9e1f9c2e4c69f1",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "Show Admin Page",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"pages\":{\"show\":[\"Admin\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 3720,
        "wires": [
            [
                "4415ed2e92b78e33"
            ]
        ]
    },
    {
        "id": "faf6959a52ca7ee4",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "Is Admin User?",
        "property": "#:(persistent)::admins",
        "propertyType": "global",
        "rules": [
            {
                "t": "cont",
                "v": "_client.user.username",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 3740,
        "wires": [
            [
                "6e9e1f9c2e4c69f1"
            ],
            [
                "7bbf9d08c4f739ac",
                "593b05b11080f543"
            ]
        ]
    },
    {
        "id": "7bbf9d08c4f739ac",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "Hide Admin Page",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"pages\":{\"hide\":[\"Admin\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 3760,
        "wires": [
            [
                "4415ed2e92b78e33"
            ]
        ]
    },
    {
        "id": "cd07d94e95e563c5",
        "type": "comment",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "Show/Hide Admin in Side Navigation",
        "info": "",
        "x": 370,
        "y": 3700,
        "wires": []
    },
    {
        "id": "960fe70d0a3e609e",
        "type": "ui-control",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "",
        "ui": "c385dfc590b1308d",
        "events": "all",
        "x": 900,
        "y": 3860,
        "wires": [
            []
        ]
    },
    {
        "id": "eac865417ca6742b",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "Redirect the User",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Support Request",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 3860,
        "wires": [
            [
                "960fe70d0a3e609e"
            ]
        ]
    },
    {
        "id": "0384c28bcc16c822",
        "type": "comment",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "Redirect is non-admin trying direct access",
        "info": "",
        "x": 740,
        "y": 3820,
        "wires": []
    },
    {
        "id": "593b05b11080f543",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "",
        "property": "payload.page.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Admin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 3860,
        "wires": [
            [
                "eac865417ca6742b"
            ]
        ]
    },
    {
        "id": "53716ffe8c008a9a",
        "type": "comment",
        "z": "4905164f6a425bac",
        "g": "541dd3a074de735c",
        "name": "README",
        "info": "---\ntitle: \"Andon Task\" \ndescription: \"The Andon Task Blueprint is a framework for managing and streamlining support requests in manufacturing. It standardizes the process for submitting, tracking, and resolving issues across departments like Maintenance, Quality, Stores, and Logistics.\"\nimage: \"./andon-task-blueprint\"\ntags:\n    - blueprints\n    - manufacturing\nlayout: layouts/blueprint.njk\nblueprintId: x5pLEb06ed\n---\n\nHave you ever encountered bottlenecks in your manufacturing operations due to delayed support requests or unresolved issues across various departments of different production lines? The Andon Task Blueprint is here to solve that problem. Designed to streamline the process of managing and resolving support requests, this blueprint ensures that every issue is addressed promptly and effectively, minimizing downtime and improving overall efficiency.\n\n## What is the Andon Task Blueprint?\n\nThe Andon Task Blueprint is a structured framework designed to manage and streamline the handling of support requests within manufacturing environments. It provides a standardized process for submitting, tracking, and resolving issues that arise across various departments and production lines, such as Maintenance, Quality, Stores, and Logistics.\n\nThis blueprint includes forms to add new production lines and departments, providing the flexibility to tailor the system to your specific manufacturing setup. For each production line, there are dedicated forms to submit support requests for specific departments, which makes it easy to request and manage support requests by production line.\n\nThe blueprint also provides an intuitive interface to view all support requests, organized by production line and department. Each request is detailed with essential information, such as the production line involved, the time the request was made, detailed notes, and action buttons to:\n\n- **Acknowledge:** Mark the request as acknowledged.\n- **Resolve:** Mark the request as resolved.\n\nAdditionally, the blueprint includes visual and audio alerts for older requests, which can be configured with customizable thresholds. This feature helps to ensure that no request goes unnoticed, even if it's been pending for a while.\n\n## What Problem Does It Solve?\n\nIn manufacturing environments, inefficiencies often arise from the disorganization and delays in handling support requests. The Andon Task Blueprint addresses several key problems:\n\n- **Delayed Response Times:** Delays in addressing support requests can lead to prolonged downtime and production delays. This blueprint streamlines the process, ensuring that requests are handled promptly and efficiently.\n- **Lack of Visibility:** Without a centralized system, tracking the status of support requests across different departments and production lines can be challenging. The blueprint provides a clear and intuitive interface to view and manage all requests, organized by production line and department.\n- **Inconsistent Handling:** Different departments might have varying procedures for managing support requests, leading to inconsistency and confusion. This blueprint standardizes the process, ensuring that all requests are managed in a uniform manner.\n- **Communication Gaps:** Poor communication between departments can result in unresolved issues and misunderstandings. The blueprint facilitates better communication by providing detailed request forms and action buttons to acknowledge and resolve issues.\n- **Inefficient Tracking:** Tracking and documenting support requests manually can be cumbersome and error-prone. The blueprint automates this process, storing detailed notes and tracking the progress of each request, which helps in maintaining accurate records.\n\nBy solving these problems, the Andon Task Blueprint enhances operational efficiency, reduces downtime, and improves coordination across various departments and production lines.\n\n## Getting Started with Andon Task Blueprint\n\n### Prerequisite\n\nBefore moving forward, ensure you have the following prepared:\n\n- Ensure you have a FlowFuse account with the Starter, Team, or Enterprise tier.\n- Ensure you have enabled FlowFuse User Authentication for your Instance, for more information, refer to [FlowFuse User Authentication](/blog/2024/04/displaying-logged-in-users-on-dashboard/#enabling-flowfuse-user-authentication)\n\nStarting with this Andon Task Blueprint, note that the blueprint does not require configuring any nodes, as they are already pre-configured.\n\n### Setting Up the Blueprint\n\n1. To get started with the blueprint, click the bottom-most \"Start\" button. This will redirect you to the FlowFuse platform instance creation interface with the blueprint pre-selected.\n2. Select the appropriate settings according to your preferences, such as instance type, application, and Node-RED version.\n3. Click the “Create Instance” button.\n\nOnce the instance is successfully created, you can:\n\n- Click the “Dashboard” button in the top-right corner to test the Andon Task Blueprint.\n- Click the “Open Editor” button in the top-right corner to navigate to the Node-RED Editor.\n\n### Testing Blueprint with Simulated Data\n\nThis blueprint does not require simulated request data to operate. However, for it to work properly, you must have the production line and department added. We automatically populate demo production lines and departments upon deployment, but only if they are not already present. To view the flow that does this, switch to \"Populate with Demo Support Areas and Lines.\" Once deployed, you can begin submitting support requests immediately.\n\nThe blueprint utilizes the SQLite node, which runs an SQL database within your Node-RED container. This means there is no need to set up a separate database or configure additional nodes for it to function correctly.\n\n### Setting Up the Blueprint in the Real World\n\nTo implement the blueprint in a production environment, you may need to store relevant data in a dedicated database hosted separately. By default, the blueprint uses an SQLite database set up by the SQLite node within the FlowFuse Node-RED instance. While this can handle a reasonable amount of data, you might need a more robust database for larger datasets. Node-RED supports various databases, including MySQL, PostgreSQL, InfluxDB, MongoDB, and more.\n\nTo switch to a different SQL-based database, you simply need to install the appropriate Node-RED node for your chosen database and configure it accordingly. Replace the SQLite nodes in your flows with nodes for the new database. Since the operations are SQL-based, the transition to a different SQL database is straightforward.\n\nFor detailed instructions refer to [how to set up and use different databases with Node-RED](/node-red/database/).\n\n### How to Use This Blueprint\n\n#### Adding Users to the Admin List:\n\nThe Blueprint provides two user interfaces: one for normal users and one for admin users. Normal users can view and submit requests for production lines and departments, but they cannot access the interface directly. Instead, they must access it via a URL that includes specific query parameters. Admin users, on the other hand, have the ability to create new production lines and departments, and they can access both the department and production line interfaces directly, without the need for query parameters and the URL. Admin users also have a broader view of the system. To access the admin interface, you must define yourself as an admin. To do this:\n\n1. To add users to the admin list, Switch to \"configuration\" flow tab, locate \"Admin Registration\" flow.\n2. Click on the Change node, and within the node, you will see it setting `global.admin` to an array.\n3. Add your FlowFuse username as a string to this array.\n4. Deploy the flow.\n5. You will now be able to access the admin dashboard as a registered user.\n\n#### Creating a New Production Line and Department:\n\n1. Navigate to the admin page of the support request dashboard.\n2. On the left side of the dashboard, you will find a form. Enter the name of the new production line and department into their respective input fields.\n3. Click the \"Add\" button.\n4. After clicking the \"Add\" button, the production line and department will be added. You can confirm this by checking the top menu, where you will see all available production lines and departments.\n\n#### Requesting Support:\n\n1. Select the production line for which you want to request support from the top header menu.\n2. You will be redirected to the support request page, where you will see all requests submitted for that specific line in the table.\n3. Below the table, you will find the support request form. Select the department for which you want to request support, enter a detailed note related to the request, and click the “Request Support” button.\n4. Once you click the button, the new request will appear in the table above. This table only shows requests related to the selected production line. To view all requests, visit the admin page.\n\n#### Visual Alerts\n\nThe blueprint includes two types of visual alerts, each with different colors for non-acknowledged requests. The first request will override other requests, ensuring that none of the requests go unnoticed. For these visual alerts, you can define threshold durations:\n\n1. Switch to the **\"Configuration\"** flow tab.\n2. Locate the **\"Define the threshold duration for considering a request as old (in minutes)\"** flow.\n3. Click the **\"Change\"** node within it, where you will see two configuration options:\n    - **Old Request Threshold**: This defines the duration (in minutes) for considering a request as old. By default, it is set to 0 minutes, but you can adjust this to your preference. Requests that reach this threshold will trigger a light yellow visual alert.\n    - **Older Request Threshold**: This defines the duration (in minutes) for considering a request as \"older.\" When this threshold is reached, a stronger visual alert will be triggered, indicating that immediate action is needed since the request has not been acknowledged.\n\n#### Audio Alerts\n\nThe blueprint also includes an audio alert feature. When a non-acknowledged request exceeds the threshold duration that you've specified, it will play an audio alert. You can define the duration threshold and set the audio of your preference:\n\n1. Switch to the **\"Configuration\"** flow tab.\n2. Locate the **\"Define the duration threshold (in minutes) to trigger the alert\"** flow.\n3. Click the **\"Change\"** node named **\"Set the duration threshold (in minutes) to trigger the alert\"** and set the duration in minutes.\n4. To set the audio according to your preference, click the **\"Change\"** node named **\"Set the URL for the alert sound\"** and set the URL as a string in the node.\n\n#### Marking a Request as Acknowledged:\n\nTo mark a request as acknowledged, indicating that someone has picked it up and is working on it, follow these steps:\n\n1. In the table where all requests are listed, click the “Acknowledge” button next to the request.\n2. Once you click the \"Acknowledge\" button, it will be replaced with the time when the request was marked as acknowledged.\n\n#### Marking a Request as Resolved:\n\nTo mark a request as resolved, indicating that it has been satisfied or completed, locate the request in the table where all requests are listed.\n\n1. Click the “Resolved” button next to the request.\n2. Once you click the \"Resolved\" button, the request will be removed from the table and will no longer be visible.\n\n#### Viewing Requests by Department:\n\n1. To view requests for a specific department, click on the department name from the top header menu.\n2. Once you click, you will see the requests associated with that department displayed on the page.\n\n#### Accessing the Support Request Dashboard with URL:\n\nThe support request dashboard has two pages: one for the admin and another for users handling specific production lines and departments. To access it, you need to add a query parameter to the URL.\n\n- For example, if you want to access the support request dashboard for production line T1, navigate to:\n  `https://<instance-name>.flowfuse.cloud/dashboard/support-request?line=T1`\n\n- To view requests by department, replace the line query with department.\n\nEnsure that the production line or department you specify in the query exists; otherwise, you will be redirected to a \"Not Found\" page.\n\n#### Exporting the historical data\n\nThe blueprint also provides an API to export historical request data (requests that have been resolved). The API endpoint for this is `/history`. The flow that creates and allows exporting history is available under the \"API\" flow tab.\n\n#### Deleting Requests\n\n1. To delete requests stored in the database, find the flow named \"Delete records older than 30 days.\"\n2. Click on the inject button. Once clicked, it will delete the records. If you need to edit the query, click on the template node in the flow and make the necessary changes.\n\n#### Deleting Added Departments and Production Lines\n\n1. When a department or production line is added, it is stored in [FlowFuse’s persistent storage](https://flowfuse.com/docs/install/file-storage/).\n2. To delete it, go to the Node-RED sidebar, switch to the \"Context Data\" tab, and click the delete buttons next to \"lines\" and \"departments\" context variable to delete them.\n\n## Conclusion\n\nThe Andon Task Blueprint helps you manage support requests more efficiently, ensuring timely resolution and minimizing production delays. By implementing this blueprint, you can streamline communication between departments, maintain better visibility over support requests, and improve overall operational efficiency.\n",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "7c5e59811d8c51f8",
        "type": "comment",
        "z": "4905164f6a425bac",
        "g": "541dd3a074de735c",
        "name": "License",
        "info": "The FlowFuse License\nCopyright (c) 2021-present FlowFuse Inc\n\nWith regard to the FlowFuse Software:\n\nThis software and associated documentation files (the \"Software\") may only be\nused in production, if you (and any entity that you represent) have agreed to,\nand are in compliance with, the FlowFuse Subscription Terms (the \"Terms\"),\nor other agreements governing the use of the Software, as mutually agreed by you\nand FlowFuse Inc (\"FlowFuse\"), and otherwise have a valid FlowFuse Subscription\nfor the active usage. Subject to the foregoing sentence, you are free to modify\nthis Software and publish patches to the Software. You agree that FlowFuse and/or\nits licensors (as applicable) retain all right, title and interest in and to all\nsuch modifications and/or patches, and all such modifications and/or patches may\nonly be used, copied, modified, displayed, distributed, or otherwise exploited\nwith a valid Subscription.\nNotwithstanding the foregoing, you may copy and modify the Software for development\nand testing purposes, without requiring a subscription.  You agree that FlowFuse\nand/or its licensors (as applicable) retain all right, title and interest in and\nto all such modifications.  You are not granted any other rights beyond what is\nexpressly stated herein. Subject to the foregoing, it is forbidden to copy, merge,\npublish, distribute, sublicense, and/or sell the Software.\n\nTHE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\nIMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\nFITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\nAUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\nLIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\nOUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE\nSOFTWARE.\n\nFor all third party components incorporated into the FlowFuse Software, those\ncomponents are licensed under the original license provided by the owner of the\napplicable component.",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "95be88fc3f99deab",
        "type": "ui-event",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "ui": "c385dfc590b1308d",
        "name": "",
        "x": 180,
        "y": 2280,
        "wires": [
            [
                "f655b9fae60a84ac",
                "d845f4ace1264854",
                "12b96129b06e062c"
            ]
        ]
    },
    {
        "id": "3c8c66cc0a5674ac",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "class",
                "pt": "msg",
                "to": "show",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ui_update.options",
                "pt": "msg",
                "to": "#:(persistent)::departments",
                "tot": "global"
            },
            {
                "t": "delete",
                "p": "_client",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 2280,
        "wires": [
            [
                "7643b5fd02a5187f"
            ]
        ]
    },
    {
        "id": "090bf0423da58233",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "name": "link in 74",
        "links": [
            "7643b5fd02a5187f",
            "f0eeb308bdd5ee14"
        ],
        "x": 695,
        "y": 1580,
        "wires": [
            [
                "c4ee5a28c33fb826",
                "e7b614800ccc9e7c"
            ]
        ]
    },
    {
        "id": "0bee3fadc51fe3dd",
        "type": "moment",
        "z": "4905164f6a425bac",
        "g": "23f98fde5be1a446",
        "name": "Requested format",
        "topic": "",
        "input": "payload.requested",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "fromNow",
        "locale": "en-US",
        "output": "payload.requested",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 500,
        "y": 920,
        "wires": [
            [
                "89827ff66b4029e8"
            ]
        ]
    },
    {
        "id": "b8e5f9689a71c512",
        "type": "ui-event",
        "z": "4905164f6a425bac",
        "g": "08b1402a264e4587",
        "ui": "c385dfc590b1308d",
        "name": "",
        "x": 320,
        "y": 1520,
        "wires": [
            [
                "d4f7a69e90172c7d"
            ]
        ]
    },
    {
        "id": "39494284fe0033a1",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "f6a8f30146a99a20",
        "name": "",
        "property": "_client",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "user",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 3760,
        "wires": [
            [
                "faf6959a52ca7ee4"
            ],
            [
                "7bbf9d08c4f739ac",
                "593b05b11080f543"
            ]
        ]
    },
    {
        "id": "86e1dbaa67af7487",
        "type": "template",
        "z": "4905164f6a425bac",
        "g": "dd2b5ae1fa2b599f",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE requests SET {{action}} = \"{{now}}\" WHERE rowid={{payload.query.request}}",
        "output": "str",
        "x": 1110,
        "y": 3580,
        "wires": [
            [
                "dacd23661a425c3b"
            ]
        ]
    },
    {
        "id": "6da47561bb50c92c",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "dd2b5ae1fa2b599f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 3580,
        "wires": [
            [
                "0ff349c57d8cae00"
            ]
        ]
    },
    {
        "id": "71a3646c1944cd0e",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "dd2b5ae1fa2b599f",
        "name": "Update Ack or Res?",
        "property": "query.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ack",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "res",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 750,
        "y": 3580,
        "wires": [
            [
                "f3d7d7369a290e4c"
            ],
            [
                "9825ec7b0481e69e"
            ],
            []
        ]
    },
    {
        "id": "f3d7d7369a290e4c",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "dd2b5ae1fa2b599f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "acknowledged",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 3560,
        "wires": [
            [
                "86e1dbaa67af7487"
            ]
        ]
    },
    {
        "id": "9825ec7b0481e69e",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "dd2b5ae1fa2b599f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "resolved",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 3600,
        "wires": [
            [
                "86e1dbaa67af7487"
            ]
        ]
    },
    {
        "id": "bcf144f2a04696d4",
        "type": "ui-event",
        "z": "4905164f6a425bac",
        "g": "dd2b5ae1fa2b599f",
        "ui": "c385dfc590b1308d",
        "name": "",
        "x": 180,
        "y": 3580,
        "wires": [
            [
                "6da47561bb50c92c"
            ]
        ]
    },
    {
        "id": "0ff349c57d8cae00",
        "type": "moment",
        "z": "4905164f6a425bac",
        "g": "dd2b5ae1fa2b599f",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "now",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 530,
        "y": 3580,
        "wires": [
            [
                "71a3646c1944cd0e"
            ]
        ]
    },
    {
        "id": "dacd23661a425c3b",
        "type": "sqlite",
        "z": "4905164f6a425bac",
        "g": "dd2b5ae1fa2b599f",
        "mydb": "31abef4ecbfd6327",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1240,
        "y": 3580,
        "wires": [
            [
                "7b8d9f36b2b31bc2"
            ]
        ]
    },
    {
        "id": "7b8d9f36b2b31bc2",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "dd2b5ae1fa2b599f",
        "name": "link out 97",
        "mode": "link",
        "links": [
            "e2076f816eb2437b"
        ],
        "x": 1355,
        "y": 3580,
        "wires": []
    },
    {
        "id": "e2076f816eb2437b",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "f75ad477d2b26604",
        "name": "link in 75",
        "links": [
            "7b8d9f36b2b31bc2"
        ],
        "x": 235,
        "y": 2560,
        "wires": [
            [
                "9147619ddebfcfe4"
            ]
        ]
    },
    {
        "id": "b59bd170d128cec5",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "global",
                "to": "support",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "line",
                "pt": "global",
                "to": "payload.query.department",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "class",
                "pt": "msg",
                "to": "hide",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "_client",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 2000,
        "wires": [
            [
                "f0eeb308bdd5ee14"
            ]
        ]
    },
    {
        "id": "12b96129b06e062c",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "property": "line",
        "propertyType": "global",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 2220,
        "wires": [
            [
                "be70496b77246a70"
            ]
        ]
    },
    {
        "id": "be70496b77246a70",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "9ffad85c724392ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "line",
                "pt": "global",
                "to": "$globalContext('lines','persistent')[0].label\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "global",
                "to": "line",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "9575766c57a0c6bb",
        "type": "function",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "Merge departments array",
        "func": "let departments = global.get('departments', 'persistent') || [];\n\n// Extract label values from both arrays, convert to lowercase, and merge them into a single array\nlet labels = [\n    ...departments.map(obj => obj.label)\n];\n\n// Set the merged labels array in the message\nmsg.payload = labels;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2040,
        "wires": [
            [
                "fd4b368876c52e6f"
            ]
        ]
    },
    {
        "id": "fd4b368876c52e6f",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "02417f3036b14c52",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "line",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 1980,
        "wires": [
            [],
            [
                "9a114eef8e992d4d"
            ]
        ]
    },
    {
        "id": "06ef9466afbd4ceb",
        "type": "function",
        "z": "4905164f6a425bac",
        "g": "efc5cd87ab60631c",
        "name": "highlightOldRequests",
        "func": "\nconst requested = msg.payload.requested; \nconst now = Date.now();\n\nconst requestedTime = new Date(requested).getTime();\nconst difference = now - requestedTime;\nconst difinedDurationForOldRequest = global.get('oldRequestThreshold')\nconst difinedDurationForOlderRequest = global.get('veryOldRequestThreshold')\n\nif (difference > (difinedDurationForOlderRequest * 60 * 1000)) {\n    msg.payload.class = 'older';\n    return msg \n} else if (difference > (difinedDurationForOldRequest * 60 * 1000)) {\n    msg.payload.class = 'old';\n    return msg\n} else {\n    msg.payload.class = 'normal';\n    return  msg\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 3040,
        "wires": [
            [
                "abc01444a378070c"
            ]
        ]
    },
    {
        "id": "c0c2b4b27e9ffb47",
        "type": "function",
        "z": "4905164f6a425bac",
        "g": "23f98fde5be1a446",
        "name": "highlightOldRequests",
        "func": "const requested = msg.payload.requested;\nconst now = Date.now();\n\nconst requestedTime = new Date(requested).getTime();\nconst difference = now - requestedTime;\n\nconst oldRequestThreshold = global.get('oldRequestThreshold');\nconst veryOldRequestThreshold = global.get('veryOldRequestThreshold');\nconst alertActivationThreshold = global.get('alertActivationThreshold');\n\nif (difference > (veryOldRequestThreshold * 60 * 1000)) {\n    msg.payload.class = 'older';\n    if (difference > (alertActivationThreshold * 60 * 1000)) {\n        msg.payload.alert = true;\n    }\n    return msg;\n}\nelse if (difference > (oldRequestThreshold * 60 * 1000)) {\n    msg.payload.class = 'old';\n    if (difference > (alertActivationThreshold * 60 * 1000)) {\n        msg.payload.alert = true;\n    }\n    return msg;\n}\nelse {\n\n    if (difference > (alertActivationThreshold * 60 * 1000)) {\n        msg.payload.alert = true;\n    }\n    msg.payload.class = 'normal';\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 900,
        "wires": [
            [
                "0bee3fadc51fe3dd",
                "2e0c529a0db718cc"
            ]
        ]
    },
    {
        "id": "2e1c370293cd5e63",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "02acdc0de78af5bc",
        "name": "Is it older than the defined duration?",
        "property": "payload.alert",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 1360,
        "wires": [
            [
                "b7bae63290c3d5de"
            ]
        ]
    },
    {
        "id": "b7bae63290c3d5de",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "02acdc0de78af5bc",
        "name": " Is the request null?",
        "property": "payload.acknowledged",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 1360,
        "wires": [
            [
                "300aad5c09231b33"
            ]
        ]
    },
    {
        "id": "6b96bc8c00eee2be",
        "type": "function",
        "z": "4905164f6a425bac",
        "g": "02acdc0de78af5bc",
        "name": "Store the ID of the request for which the alert is triggered",
        "func": "let AlertTriggeredRequest = msg.payload\nlet arrayofTriggredAlerts = global.get('alertsForRequest') || []\n\narrayofTriggredAlerts.push(AlertTriggeredRequest.rowid);\nglobal.set('alertsForRequest',arrayofTriggredAlerts)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "300aad5c09231b33",
        "type": "switch",
        "z": "4905164f6a425bac",
        "g": "02acdc0de78af5bc",
        "name": "Is the alert already triggered for this request?",
        "property": "alertsForRequest",
        "propertyType": "global",
        "rules": [
            {
                "t": "cont",
                "v": "payload.rowid",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 1360,
        "wires": [
            [],
            [
                "6b96bc8c00eee2be",
                "dd02b7f0b1a020c8"
            ]
        ]
    },
    {
        "id": "b08649b01048223f",
        "type": "ui-template",
        "z": "4905164f6a425bac",
        "g": "02acdc0de78af5bc",
        "group": "",
        "page": "a3eff10a8bb2d0b3",
        "ui": "",
        "name": "Alert",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div>\n    <audio ref=\"audio\" :src=\"msg?.payload\" preload=\"auto\"></audio>\n  </div>\n</template>\n\n<script>\n  export default {\n  name: 'AlertSoundPlayer',\n  mounted() {\n    // Assuming you have a socket connection initialized and `this.id` is available\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n      // Play the sound when the event is triggered\n      this.$refs.audio.play();\n    });\n  }\n};\n</script>\n\n<style scoped>\n  button {\n    margin: 5px;\n    padding: 10px;\n    font-size: 16px;\n    cursor: pointer;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 1470,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "2e0c529a0db718cc",
        "type": "link out",
        "z": "4905164f6a425bac",
        "g": "23f98fde5be1a446",
        "name": "link out 98",
        "mode": "link",
        "links": [
            "88b10d5c64fa8b99"
        ],
        "x": 435,
        "y": 880,
        "wires": []
    },
    {
        "id": "88b10d5c64fa8b99",
        "type": "link in",
        "z": "4905164f6a425bac",
        "g": "02acdc0de78af5bc",
        "name": "link in 76",
        "links": [
            "2e0c529a0db718cc"
        ],
        "x": 145,
        "y": 1360,
        "wires": [
            [
                "2e1c370293cd5e63"
            ]
        ]
    },
    {
        "id": "dd02b7f0b1a020c8",
        "type": "change",
        "z": "4905164f6a425bac",
        "g": "02acdc0de78af5bc",
        "name": "Retrive the url of alert sound",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "alertSoundURL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1340,
        "wires": [
            [
                "b08649b01048223f"
            ]
        ]
    },
    {
        "id": "f0cf1cdd9ec95acf",
        "type": "change",
        "z": "c3af105aa906e737",
        "g": "fd5f315f792d3cf7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(persistent)::admins",
                "pt": "global",
                "to": "[\"sumitshindeflowfuse\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c49901682b8bc5d4",
        "type": "comment",
        "z": "c3af105aa906e737",
        "g": "fd5f315f792d3cf7",
        "name": "Define Admins Here",
        "info": "",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "d0ac4081bb469fac",
        "type": "inject",
        "z": "c3af105aa906e737",
        "g": "fd5f315f792d3cf7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "f0cf1cdd9ec95acf"
            ]
        ]
    },
    {
        "id": "a545ed28c44bc51b",
        "type": "change",
        "z": "c3af105aa906e737",
        "g": "4e9278bef01b88b2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldRequestThreshold",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "veryOldRequestThreshold",
                "pt": "global",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "46602a48a2bf48c8",
        "type": "inject",
        "z": "c3af105aa906e737",
        "g": "4e9278bef01b88b2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "a545ed28c44bc51b"
            ]
        ]
    },
    {
        "id": "567f452c9cb1357e",
        "type": "change",
        "z": "c3af105aa906e737",
        "g": "4d83fc206bc232e2",
        "name": "set the duration threshold (in minutes) to trigger the alert",
        "rules": [
            {
                "t": "set",
                "p": "alertActivationThreshold",
                "pt": "global",
                "to": "0.5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "be0d588d8ea0b262",
        "type": "inject",
        "z": "c3af105aa906e737",
        "g": "4d83fc206bc232e2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "567f452c9cb1357e"
            ]
        ]
    },
    {
        "id": "28ce5eb06d3ff417",
        "type": "inject",
        "z": "c3af105aa906e737",
        "g": "4d83fc206bc232e2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "4d5378aecbd49411"
            ]
        ]
    },
    {
        "id": "4d5378aecbd49411",
        "type": "change",
        "z": "c3af105aa906e737",
        "g": "4d83fc206bc232e2",
        "name": "Set the URL for the alert sound",
        "rules": [
            {
                "t": "set",
                "p": "alertSoundURL",
                "pt": "global",
                "to": "https://www.soundjay.com/buttons/beep-26.wav",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "08eb234f1e8eac5e",
        "type": "inject",
        "z": "8cba7b55203e6a12",
        "g": "1102ce4f58a12d64",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "a95b2c2838afd7e0"
            ]
        ]
    },
    {
        "id": "e4ca3e9886a283cf",
        "type": "debug",
        "z": "8cba7b55203e6a12",
        "g": "1102ce4f58a12d64",
        "name": "debug 60",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "a95b2c2838afd7e0",
        "type": "template",
        "z": "8cba7b55203e6a12",
        "g": "1102ce4f58a12d64",
        "name": "Create",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "CREATE TABLE IF NOT EXISTS requests (\n    rowid INTEGER PRIMARY KEY,\n    line TEXT NOT NULL,\n    support TEXT NOT NULL,\n    requested TEXT NOT NULL,\n    acknowledged TEXT,\n    resolved TEXT,\n    notes TEXT\n);",
        "output": "str",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "8d50e57636b774a9"
            ]
        ]
    },
    {
        "id": "8d50e57636b774a9",
        "type": "sqlite",
        "z": "8cba7b55203e6a12",
        "g": "1102ce4f58a12d64",
        "mydb": "31abef4ecbfd6327",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "e4ca3e9886a283cf"
            ]
        ]
    },
    {
        "id": "23fb0462f15023af",
        "type": "inject",
        "z": "8cba7b55203e6a12",
        "g": "df60d434a52bd6a2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "bb588342c1bc27a3"
            ]
        ]
    },
    {
        "id": "7903e648e5a67c40",
        "type": "template",
        "z": "8cba7b55203e6a12",
        "g": "df60d434a52bd6a2",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DELETE from requests WHERE requested <  DATE('now', '-30 days');",
        "output": "str",
        "x": 480,
        "y": 240,
        "wires": [
            [
                "74f10f7f705d46bf"
            ]
        ]
    },
    {
        "id": "5775dcb91c0feacb",
        "type": "debug",
        "z": "8cba7b55203e6a12",
        "g": "df60d434a52bd6a2",
        "name": "debug 59",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "bb588342c1bc27a3",
        "type": "change",
        "z": "8cba7b55203e6a12",
        "g": "df60d434a52bd6a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "now",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "30days",
                "pt": "msg",
                "to": "msg.now - 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "7903e648e5a67c40"
            ]
        ]
    },
    {
        "id": "74f10f7f705d46bf",
        "type": "sqlite",
        "z": "8cba7b55203e6a12",
        "g": "df60d434a52bd6a2",
        "mydb": "31abef4ecbfd6327",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "5775dcb91c0feacb"
            ]
        ]
    },
    {
        "id": "2b077ccbdc938107",
        "type": "http in",
        "z": "78bbed87dae57137",
        "g": "9d9e16af1ba77ad4",
        "name": "Historical Data API",
        "url": "/history",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "e1563f0e4d9b958e"
            ]
        ]
    },
    {
        "id": "e1563f0e4d9b958e",
        "type": "template",
        "z": "78bbed87dae57137",
        "g": "9d9e16af1ba77ad4",
        "name": "Retrive all reqeust that are resolved",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM requests WHERE resolved IS NOT NULL;\n",
        "output": "str",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "5284517bdac2815b"
            ]
        ]
    },
    {
        "id": "5284517bdac2815b",
        "type": "sqlite",
        "z": "78bbed87dae57137",
        "g": "9d9e16af1ba77ad4",
        "mydb": "31abef4ecbfd6327",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 670,
        "y": 120,
        "wires": [
            [
                "39ae15e14a4f9262"
            ]
        ]
    },
    {
        "id": "39ae15e14a4f9262",
        "type": "http response",
        "z": "78bbed87dae57137",
        "g": "9d9e16af1ba77ad4",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "1a78c20dc03bfe38",
        "type": "ui-template",
        "z": "534b53b1f7cf7463",
        "g": "08f3a2e4591326eb",
        "group": "",
        "page": "",
        "ui": "c385dfc590b1308d",
        "name": "CSS: ",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".hide{\n    display: none !important;\n}\n\n.show{\n    display: grid !important;\n}\n\n.form{\n    gap:20px !important;\n}\n\n.form .nrdb-ui-form-rows{\n    display:grid !important;\n    gap:2.5rem !important;\n}\n\n.nrdb-ui-form-actions{\n margin-top:  1.8rem !important;\n}\n\n.v-btn-group{\n    overflow-x:auto;\n}\n\ntr:has(.old) {\n    background-color: #FFECA1;\n}\n\ntr:has(.older) {\nbackground-color: #EFAF9B;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 110,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "34c733b480e41a13",
        "type": "inject",
        "z": "d5dd9bfc599374d4",
        "g": "6471824e24f18939",
        "name": "Add production lines and department for testing",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "4e46ae25d198fd1b",
                "399bd159f46c7427"
            ]
        ]
    },
    {
        "id": "4e46ae25d198fd1b",
        "type": "switch",
        "z": "d5dd9bfc599374d4",
        "g": "6471824e24f18939",
        "name": "Is lines undefined?",
        "property": "#:(persistent)::lines",
        "propertyType": "global",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "882e29d2dcc9326c"
            ]
        ]
    },
    {
        "id": "882e29d2dcc9326c",
        "type": "change",
        "z": "d5dd9bfc599374d4",
        "g": "6471824e24f18939",
        "name": "Store lines to context store",
        "rules": [
            {
                "t": "set",
                "p": "#:(persistent)::lines",
                "pt": "global",
                "to": "[{\"value\":\"T1\",\"label\":\"T1\"},{\"value\":\"T2\",\"label\":\"T2\"}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "399bd159f46c7427",
        "type": "switch",
        "z": "d5dd9bfc599374d4",
        "g": "6471824e24f18939",
        "name": "Is departments undefined?",
        "property": "#:(persistent)::departments",
        "propertyType": "global",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "5001c1cdf6661f88"
            ]
        ]
    },
    {
        "id": "5001c1cdf6661f88",
        "type": "change",
        "z": "d5dd9bfc599374d4",
        "g": "6471824e24f18939",
        "name": "Store departments to context store",
        "rules": [
            {
                "t": "set",
                "p": "#:(persistent)::departments",
                "pt": "global",
                "to": "[{\"value\":\"Maintenance\",\"label\":\"Maintenance\"},{\"value\":\"Stores\",\"label\":\"Stores\"},{\"value\":\"Quality\",\"label\":\"Quality\"}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 120,
        "wires": [
            []
        ]
    }
]