src/blueprints/other/mobile-alerting/flow.json
[{"id":"3f79c225fa6c886c","type":"tab","label":"SIGNL4 Mobile Alerting","disabled":false,"info":"","env":[]},{"id":"6da58a9fbfa742ae","type":"SIGNL4","z":"3f79c225fa6c886c","name":"SIGNL4 Alerting","teamSecret":"","alertSubject":"","alertBody":"","alertS4Service":"","alertS4Location":"","alertS4AlertingScenario":"single_ack","alertS4Filtering":"false","alertS4ExternalID":"","x":480,"y":160,"wires":[["bfe8b7300047e2b4"]]},{"id":"089c8e56cb0575ea","type":"SIGNL4 Resolve","z":"3f79c225fa6c886c","name":"SIGNL4 Resolve","teamSecret":"","alertS4ExternalID":"","x":490,"y":240,"wires":[["563f90b1e3ffecd1"]]},{"id":"fdc1b960b4a09918","type":"comment","z":"3f79c225fa6c886c","name":"Trigger or close SIGNL4 alert - Just enter your SIGNL4 team / integration secret in the SIGNL4 nodes","info":"","x":380,"y":100,"wires":[]},{"id":"df1ea92dcd992a26","type":"comment","z":"3f79c225fa6c886c","name":"SIGNL4 remote action to trigger actions in Node-RED","info":"","x":240,"y":320,"wires":[]},{"id":"4a3fc361d7b4fe0f","type":"function","z":"3f79c225fa6c886c","name":"Formatting","func":"\n// Specify your alert data here\nlet data = {\n    \"Subject\": \"Alert from Node-RED\",\n    \"Body\": \"Test alert. Teperature too high.\",\n    \"Temperature\": \"84 °C\",\n    \"X-S4-Location\": \"52.525164,13.293205\",\n    \"X-S4-Status\": \"new\",\n    \"X-S4-ExternalID\": \"sensor-id-a2\"\n};\n\nmsg.payload = data;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":160,"wires":[["6da58a9fbfa742ae"]]},{"id":"784e75f244f815c3","type":"function","z":"3f79c225fa6c886c","name":"Formatting","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":380,"wires":[["992574281b307118"]]},{"id":"0649e011e74beb87","type":"http in","z":"3f79c225fa6c886c","name":"Remote Action","url":"/signl4","method":"post","upload":false,"swaggerDoc":"","x":120,"y":380,"wires":[["784e75f244f815c3","7757bb90613f86f9"]]},{"id":"7757bb90613f86f9","type":"http response","z":"3f79c225fa6c886c","name":"HTTP Response OK","statusCode":"","headers":{},"x":360,"y":440,"wires":[]},{"id":"d694672e94ca5e12","type":"inject","z":"3f79c225fa6c886c","name":"Trigger alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["4a3fc361d7b4fe0f"]]},{"id":"b1689190a6499e25","type":"inject","z":"3f79c225fa6c886c","name":"Trigger alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["516ada19f2b21130"]]},{"id":"516ada19f2b21130","type":"function","z":"3f79c225fa6c886c","name":"Formatting","func":"\n// Resolve the alert with the same \"X-S4-ExternalID\"\nlet data = {\n    \"X-S4-Status\": \"resolved\",\n    \"X-S4-ExternalID\": \"sensor-id-a2\"\n};\n\nmsg.payload = data;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":240,"wires":[["089c8e56cb0575ea"]]},{"id":"bfe8b7300047e2b4","type":"debug","z":"3f79c225fa6c886c","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"563f90b1e3ffecd1","type":"debug","z":"3f79c225fa6c886c","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"992574281b307118","type":"debug","z":"3f79c225fa6c886c","name":"Remote action object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":380,"wires":[]},{"id":"0ad96a30987ec554","type":"comment","z":"3f79c225fa6c886c","name":"SIGNL4 Mobile Alerting: Get Started","info":"\nAdd reliable mobile alerting directly into your flow with SIGNL4.\n\nSIGNL4 is a SaaS offering for mobile alerting and incident management for operating critical infrastructure. It alerts you or your team persistently via app push, SMS text, voice calls, and email including tracking, escalation, shift and on-call duty scheduling and collaboration.\n\nThis blueprint allows you to trigger and to close alerts. It also uses an HTTP server to receive remote actions from the SIGNL4 app for running tasks within your Node-RED flow.\n\nYou can use the SIGNL4 nodes in your own flows whenever you need reliable alerting, e.g. from sensors, IoT devices, MQTT, OPC UA, etc.\n\nFind more information about the webhook API here:\nhttps://docs.signl4.com/integrations/webhook/webhook.html\n\nFind out more about SIGNL4 and get started at https://signl4.com/.\n","x":180,"y":40,"wires":[]}]